body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

h1 {
  color: #666;
  font-family: 'Lobster', cursive;  
  text-transform: lowercase;
}


h1 i {
  color: #f28e1c;
}

h2 {
  font-family: 'Anton', sans-serif;
  font-size: 1.2em;
  color: #2a1b0d;
}

a {
  color: #c57214;
}

a:hover {
  color: #f28e1c;
  text-decoration: underline;
}

.card {
  min-height: 200px;
}

.form-group label {
  font-size: .8em;
  font-weight: 500;
}

.form-control {
  font-size: .8em;
}

.loader {
  background: rgba(255, 255, 255, .5);
  font-size: 2em;
  height: 100%;
  left: 0;
  text-align: center;
  top: 0;
  width: 100%;
}

.loader > div {
  color: #c57214;
  display: inline-block;
  margin: 100px 0 0;
}